body {
    color: black;
}
p {
    font-size: 1em;
}
p.highlighted {
    font-size: 1.5em;
    background: yellow;
}
#main-header {
    background-color: orange;
    }

.bio-bg-change {
    background-color: azure;
}

a {
    color: red;
}
li {
    border: 1px solid black;
}
li a {
    color: red;
}
#exec-bio {
    background-color: lightgray;
}
.bio-box {
    border: 1px solid black;
}
.bio-box a {
    color: green;
}
